[submodule "uefi-rs"]
	path = uefi-rs
	url = https://github.com/enkerewpo/uefi-rs
[submodule "hvisor"]
	path = hvisor
	url = https://github.com/enkerewpo/hvisor
[submodule "grub2"]
	path = grub2
	url = https://github.com/enkerewpo/grub2
